<head>
    <title>Nicat.dcw - Software Developer</title>
    <meta property="og:site_name" content="Nicat.dcw">
  <meta property="og:title" content="Nicat.dcw - Software Developer">
  <meta property="og:description" content="Merhabalar Ben Nicat 15 Yaşım var Kodlamayla Ilgileniyorum. Bildiğim Kodlama Dilleri: [JavaScript] [Html, Css] [PHP] [NextJS] ">
  <meta property="og:image" content="https://cdn.discordapp.com/avatars/852853360612605952/a_470d5b0b33c20288395dcabece817a75.gif?size=1024">
  <meta property="theme-color" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/avatars/852853360612605952/a_470d5b0b33c20288395dcabece817a75.gif?size=1024"
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.css" integrity="sha512-4MP2bln1wciK6s5shUwCOqFzVj/ye9U+yYQ0AnHExNUDcbOzMcBRsJvEq+vWqNuFpro/XwY1kmwd/ZUGFfsKTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.min.css" integrity="sha512-4VB9GCwtWOJxNtYsvJ7qUjRCTtlHpBYKQwr5ae/GgAd/ti9SFx0yh/CmAAO2H8ymeRJxg1F578l+7FAz1DuKgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.css" integrity="sha512-9BlWpvccUKhxv9Jzha/JN6P+4hrVmhka0a0tnjtuv+Ro/V8itR/f0FM28++8CiK2CQ/qXu56VzGoHpGT3dJTKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.min.css" integrity="sha512-f6TS5CFJrH/EWmarcBwG54/kW9wwejYMcw+I7fRnGf33Vv4yCvy4BecCKTti3l8e8HnUiIbxx3V3CuUYGqR1uQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.css" integrity="sha512-Yt3PdSrCZnj7mhutv79VS3J9jTRowSZqLFQzuEBeNubDmAW8OScQpUprgvaFfpYs56D+bPLbuQ8KZAC0v5bg+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.min.css" integrity="sha512-XNq2InU9g3bwTbdv41jQXIaKTItROto41g3jRHfOYlpCSb2O5FYBmyuuGj0gxlJbGOpKioZw/FImcU/BxIt6gg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap" rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">

     
</head>
<body>
<div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
  <div class="flex">
    <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
    <div>
      <p class="font-bold">Siteme Hoşgeldin! </p>
      <p class="text-sm">Sitem Şuan Geliştirilmekte Eğer Önerin Varsa Discordda Gele Bilirsin! <%= mesaj %></p>
    </div>
  </div>
</div>
    <br>
    
    <section class="container mx-auto p-10 md:p-20 transform duration-500">
        <article class="shadow-lg mx-auto relative max-w-md group cursor-pointer">
            <div class="overflow-hidden">
                <img class="w-full h-auto transform hover:scale-110 duration-200" src="https://cdn.discordapp.com/avatars/852853360612605952/a_470d5b0b33c20288395dcabece817a75.gif?size=1024" alt="" />
            </div>
            <div class="p-7 my-auto pb-12 ">
                <h1 style="font-family: 'Atkinson Hyperlegible', sans-serif;" class="text-4xl font-semibold text-gray-800 mt-4">Nicat.dcw</h1>
                <p class="text-2xl text-gray-400 mt-4 leading-relaxed">
                  Merhabalar Ben Nicat, 15 Yaşında Yazılımla Ilgilenen Bir Gencim Ve Ilk Yazılım Macerama 2019 Yılında Başladım O Zaman Kullanmakta Olduğum Yazılım Dili [PHP]. Şuanki Yıllarda [JavaScript, Html, Css, NextJS] Dilleri Üzre Işler Yapmaktayım! 
                </p>
            </div>
            <div class="border-t pt-8 pb-8 text-center text-base text-gray-400 uppercase tracking-widest  group-hover:text-gray-600 bg-gray-50">
                <a href="/github" style="color: black;"><i class="fab fa-github" >Github</a></i>
            </div>
<div class="border-t pt-8 pb-8 text-center text-base text-gray-400 uppercase tracking-widest  group-hover:text-gray-600 bg-gray-50">
               <a href="https://discord.gg/mc-at"><i class="fab fa-discord" > Discord</i></a>
            </div>
        </article>
    </section>
    <br>
    <style>
       .custom-nico{
           align-items:center;
           margin-left -20px
          border-radius:70px 50% 1em;
          text-align:center;
          color:white;
          font-family: 'Atkinson Hyperlegible', Roboto;
          padding: 50px 40% 1em;
         background-color:purple;
       }
    </style>
    <br>
    <!--
    <div class="custom-nico jumbotron bg-indigo-700">
    <h1 style=font-family:sans-serif;"text-align:center;font-size: 30px;"><i class="fas fa-link">Destekçiler</i></h1>
    <br>
    <div class="container card">
    <a href="">CodeAnti</a>
    <br>
    <a href="">Pear List</a>
   </div>
    </div>-->
  <!-- <style>
   .custom-nico {
       align-items: center;
       margin-left: -20px;
       border-radius:70px 20% 4em;
       text-align:center;
       padding:50px 20% 4em;
       background-color: purple;
   }   
        
    </style>-->
    <br>
    <footer class="border-t pt-8 pb-8 container jumbotron bg-indigo-100 bg opacity-50">
        <p style="font-family: 'Atkinson Hyperlegible', sans-serif;color:grey;text-align: center;">© Copyright Nicat.dcw</p>
        
        
    </footer>
    
    
</body>